.track {
  cursor: pointer
}

.control-panel {
  position: fixed; 
  bottom: 0;
  margin: 0 5%;
  width: 90%;

  .btn-play {
    float: left;
  }
  .progress-bar-wrapper {
    margin-top: 8px;
    margin-left: 36px;
  }
}
